html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    background-color: #c0a2c8;
}

.container {
    display: block;
    margin: 0 auto;
    width: 600px;
}

form {
    padding-top: 20px;
}

form label,
#submit {
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
}

form label {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 20px;
    color: white;
}

.field {
    width: 330px;
    font-family: 'Open Sans', sans-serif;
    color: #999999;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

textarea {
    background: url(../img/textarea.jpg) no-repeat;

}

#submit {
    background: white;
    font-family: 'Roboto Slab', sans-serif;
    color: #c0a2c8;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
