html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

h1 {
    font-family: 'Playfair Display SC', serif;
    color: #333333;
}

body {
    background: url("../img/shiplap.jpg") no-repeat;
}

p {
    font-family: 'Pinyon Script', cursive;
    font-size: 200px;
    color: #555555;
    text-align: right;
}
