html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    background-color: #d13076;
    color: white;
}

.container {
    padding-top: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

label,
#submit {
    display: block;
}

.field {
    width: 300px;
    -webkit-border-radius: 4px 4px 4px 4px; /* courtesy of http://css3generator.com/ */
    border-radius: 4px 4px 4px 4px;
}
