html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

h1 {
    font-family: 'Playfair Display SC', serif;
    color: #333333;
    padding-left: 10px;
}

body {
    background: url("../img/shiplap.jpg") no-repeat;

}

p {
    font-family: 'Pinyon Script', cursive;
    font-size: 200px;
    color: #555555;
    text-align: right;
    padding-right: 20px;
    padding-bottom: 5px;
    margin: 0 auto;
}

#chipandjojo {
    position: absolute;
    top: 20%;
    margin-left: 20px;
    border: 1px solid #333333;
}
